<!DOCTYPE html>
	<html>
	<style>
	body{
		text-align:center;
		padding:50px 20px;
		border:#CCC 1px solid;
		margin:30px;
		border-radius:10px;
	}
	img {
		width:100px;
	}
	</style>
	<body>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Warning_icon.svg/2306px-Warning_icon.svg.png" />
		<h2>Account suspended due to pending payments.</h2>
		<p>The e-way bill and e-invoice has the validity till december 1st 2023. Once it is experied an additional payment for subscription need to be paid to activate the account. <br/>Kindly clear the pending invoices immediately.</p>
	</body>
</html>

