button .btnadd{
background-color:#3257DF;
color:#F4F5F8;
font-family:Sans-serif;
text-align:right;
}
table tr td, table tr th, .dataTables_length, .dataTables_filter {
	color:#000 !important;
	font-size:14px;
}
.dataTables_filter input, .dataTables_length select {
	border:#ccc 1px solid !important;
	border-radius:5px !important;
	font-size: 12px !important;
	height:25px !important;
}
.dataTables_info {
	font-size:12px !important;
	color:#999 !important;
}
.dataTables_paginate {
	font-size:12px !important;
}
#product_field input, #product_field select {
	padding:0px !important;
}
.addt-item {
	margin-bottom:5px;
	border-bottom:#CCC 1px dotted;
}
.addtinal-block {
	background-color:#f9f9f9;
}
.hidden-td {
	display: none;
}
							